<p id="notice"><%= notice %></p>

<div class="header">
  <h1>
    <%= "#{@user.first_name} #{@user.last_name}" %>
    <h3>Your Pins</h3>
  </h1>
</div>

<hr/>

<%= render partial: "shared/pins_list" %>

<hr/>